extends layout

block content
  .jumbotron
    .container
      .row
        .col-md-7
          h1 Computer not working?
          p
            | Is your computer running slow? Or maybe Not at all? Call us now for help.
          p
            a.btn.btn-primary.btn-lg(href='#') Read More
              
  
  .row  
    .col-md-4
      .well
        h2 Hardware Problems
        p
          | If the loss of programs or data on your computer is going to make you upset, it is recommended that you take some precautions. Your computer may be protected against viruses and such, but 100% protection is never guaranteed.
      
    .col-md-4
      .well
        h2 Software Problems
        p
          | If the loss of programs or data on your computer is going to make you upset, it is recommended that you take some precautions. Your computer may be protected against viruses and such, but 100% protection is never guaranteed.
      
    .col-md-4
      .well  
        h2 PC Tune Up
        p
          | If the loss of programs or data on your computer is going to make you upset, it is recommended that you take some precautions. Your computer may be protected against viruses and such, but 100% protection is never guaranteed.

